/* 
dkpurple: #430c68
purple: #bb32a1 
pink: f9557b
teal: #579d9c
yellow: #f9c35e
*/
@import url("https://use.typekit.net/vfr8vyv.css");

*, body{
	transition: all .3s ease-in-out;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #430c68;
	color: white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

footer{
	background-color: #330850;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: .5rem;
	font-size: .8rem;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer > *{
	display: block;
}

h1, h2, h3, h4, h5, h6{
	color: #f9557b;
	margin: 0 0 1em 0;
}

h1{
	font-size: 7vw;
	font-weight: 100;
	margin: 0;
	text-align: center;
	font-family: eds-market-bold-script, sans-serif;
}
h2, h3, h4, h5, h6{
	font-family: eds-market-main-script, sans-serif;
}

a {
	color: #f9557b;
}
a:hover {
	color: #f9c35e;
}
a:visited {
	color: #bb32a1;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: white;
	background-color: #bb32a1;
	outline: none;
	border: 0;
	cursor: pointer;
	padding: 1rem 2rem;
	border-radius: .25rem;
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,.25);
}
button:hover,
button:active{
	background-color:  #a32a8d;
}
button:hover,
button:focus{
	box-shadow: 0px 4px 4px 4px rgba(0,0,0,.25);
}
button:focus {
	border: 1px solid #f9557b;
}

.twoCol{
	display: flex;
}
.twoCol > *{
	display: block;
	width: 50%;
}

